modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["git", "vercel-pkg", "graphicsmagick"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 44950423
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
